<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

  <session-factory>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="connection.url">jdbc:mysql://localhost/emp</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.username">root</property>
    <property name="connection.password">root123456</property>
    <!-- DB schema will be updated if needed -->
      <mapping class="com.kingdangkou.weixin.weixiaodan.entity.Order"/>
      <mapping class="com.kingdangkou.weixin.weixiaodan.entity.Customer"/>
      <mapping class="com.kingdangkou.weixin.weixiaodan.entity.Product"/>
    <mapping class="com.kingdangkou.weixin.weixiaodan.entity.Address"/>
    <mapping class="com.kingdangkou.weixin.weixiaodan.entity.SubOrder"/>
    <mapping class="com.kingdangkou.weixin.weixiaodan.entity.ProductQuantityEntity"/>
    <mapping class="com.kingdangkou.weixin.weixiaodan.entity.Color"/>
  </session-factory>
</hibernate-configuration>