@charset "UTF-8";
.block-body{padding: 10px;}
.index-block{border: 1px solid #cdcdcd; margin: 10px;}
.index-nav{overflow: hidden;}
    .index-nav > li{float: left; line-height: 30px;}
        .index-nav > li > a{color: #333; font-weight: bold; margin-left: 10px; margin-right: 10px;}
            .index-nav > li > a:hover,
            .index-nav > li.active > a{border-bottom: 2px solid #ea3527;}
.index-ec{border-top: 1px solid #cdcdcd; height: 200px;}
.index-val{overflow: hidden;}
    .index-val > div:first-child{border-right: 1px solid #cdcdcd;}
    .index-val > div{float: left; padding-top: 10px; padding-bottom: 10px; text-align: center; width: 50%;}
        .index-val > div > p:first-child{color: #ea3527; font-weight: bold; font-size: 14px;}