@charset "utf-8";
@import url(./reset.css);
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;  }
.J_body{bottom:0; left:0; position:absolute; right:0; top:0; overflow: hidden;}

/* Header */
.navigation{width: 100%;}
.navigation a{color: #333; display: inline-block; font-size:16px; }
.navigation ul > li{float:left; padding:0 20px; position: relative;}
.navigation ul > li a:hover,
.navigation ul > li.active > a{color: #f20b11; text-decoration: underline;}
	.navigation > .navs-wrapper{background-color: #fff;}
	.navs-wrapper	> .container{border-bottom: 1px solid #cbcbcb;}
        .navs-wrapper .brand{background:url(./img/brand-icon.png) no-repeat 0 center; height:80px; width: 180px;}
		.navs{height: 80px; overflow: visible;}
            .navs > li{line-height: 80px;}
            .navs > li > a{}
			#user-name{background: url(./img/user.png) no-repeat 0 center; cursor: pointer; display: inline-block; height: 40px; line-height: 40px; padding-left: 50px;}
			#user-name > .iconfont{margin-left: 5px;}
        .sub-navs{border:1px solid #cdcdcd; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; display: none; left: 50px; position: absolute; top: 80px; z-index: 10;}
		#nav-5:hover > .sub-navs{display: block;}
			.navigation .sub-navs > li{background-color: #fff; line-height: 40px; padding: 0;}
				.navigation ul.sub-navs > li > a{color: #333; line-height: 40px; font-size: 14px; padding: 0 15px; width: 100px;}
				.navigation ul.sub-navs > li > a:hover{background: #cdcdcd; color: #fff; text-decoration: none; }
	
/* footer */
.footer{background: #303437; color: #9c9c9c; font-size: 12px; height: 100px; line-height: 20px; margin-top: -100px; padding-top: 30px; position: relative; width: 100%;}
	.footer > div{}
		.footer .link > a{color:#fff; font-size:12px; margin-left: 10px;}

/* J_main */
.J_main{/*background-color: #e7e8eb;*/ min-height: 100%; height: auto !important; height: 100%;}
	.main{padding-bottom: 100px;}

/* main */
.breadcrumb{background:none; color:#7a7a7a; height:30px; line-height:30px; margin: 0; padding: 0;}
	.breadcrumb a{color: #f20b11;}
div.container{margin: 0 auto; position: relative; /*padding-left: 0; padding-right: 0;*/ width: 1200px;}
.main > .container{margin-top: 20px; margin-bottom: 20px;}
.outer-content{overflow: hidden;}
	.content-top,
	.content,
	.content-left{background: #fff; border: 1px solid #cbcbcb;}
	.outer-content > div{float: left; margin-bottom: -99999px; padding-bottom: 99999px;}
		.content-left{margin-left: -100%; width: 200px;}
		.content-wrapper{width: 100%;}
			.content-offset-left{margin-left: 210px;}
				.content{margin-bottom: 30px; margin-top: 10px; position: relative;}
				.content-top{}
.content-title {background: #fbfafa; border-bottom: 1px solid #cbcbcb; font-size: 15px; height: 50px; line-height: 50px; padding: 0 10px;}
	.content-title > .iconfont{color: #f20b11; font-size: 15px; margin-right: 10px;}
.block-body{padding: 20px;}

.statistics{}
	.statistics > li{background-position: 20px center; background-repeat: no-repeat; border: 1px solid #cdcdcd; float: left; padding: 20px 15px 20px 80px; width: 20%;}
	li.statistics-blue{background-image: url(./img/statistics-blue.png);}
	li.statistics-green{background-image: url(./img/statistics-green.png);}
	li.statistics-pink{background-image: url(./img/statistics-pink.png);}
	li.statistics-purple{background-image: url(./img/statistics-purple.png);}
	li.statistics-yellow{background-image: url(./img/statistics-yellow.png);}
		.statistics-val{font-size: 14px; font-weight: bold;}
